.hero__bg {
  background: url("https://i.ibb.co/DVLzbPB/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 65vh;
}

.nav__bg {
  background: #88469a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #c19ccc,
    #88469a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #c19ccc,
    #88469a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero__btn {
  color: #fff;
  border: 2px solid #ffc500;
  background: rgba(0, 0, 0, 0.35);
}

.footer__txt {
  color: #c21500;
}
.footer__txt:hover {
  color: #000;
  text-decoration: none !important;
}
